<h2 mat-dialog-title>Configurar Tarifas - {{ nombreTipoVehiculo }}</h2>

<mat-dialog-content style="overflow: hidden" class="p-b-0">
  <form #form="ngForm">
    <div *ngFor="let tarifa of tarifas; let i = index">
      <label class="f-w-500 heading-tag">Turno {{ tarifa.nombre_turno }}</label>
      <mat-form-field appearance="outline" class="w-100 m-t-0 m-b-0">
        <input
          matInput
          type="number"
          step="0.50"
          min="0"
          placeholder="0.00"
          [(ngModel)]="tarifas[i].monto_por_hora"
          name="tarifa{{ i }}"
          #tarifaInput="ngModel"
          required
          style="text-align: right"
        />
        <span matTextPrefix>S/ </span>
        <span matTextSuffix>/hora</span>
        <mat-error *ngIf="tarifaInput.invalid && tarifaInput.touched">
          La tarifa debe ser mayor o igual a 0.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-t-8">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="saveRates()">
    Guardar Tarifas
  </button>
</mat-dialog-actions>
