<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  "
>
  <img
    src="./assets/images/backgrounds/error-404.png"
    alt="Acceso restringido"
    style="max-width: 500px; height: auto"
  />
  <p
    style="margin-top: 15px; font-size: 16px; color: #9f9f9f; max-width: 700px"
  >
    Lo sentimos, la página que buscas no existe o ha sido movida.
  </p>
  <p
    style="margin-top: -15px; font-size: 16px; color: #9f9f9f; max-width: 700px"
  >
    Si crees que es un error, por favor verifica la URL o contacta con el
    administrador.
  </p>
</div>
