<h2 mat-dialog-title>
  Permisos de
  {{
    data.user.name +
      " " +
      data.user.paternalLastName +
      " " +
      data.user.maternalLastName | titlecase
  }}
</h2>

<mat-dialog-content style="overflow: hidden">
  <div class="form-group-check-box">
    <mat-selection-list
      [(ngModel)]="selectedSections"
      [multiple]="true"
      class="selection-wrapper"
    >
      <div class="two-column-checkboxes">
        <mat-list-option
          *ngFor="let section of availableSections"
          [value]="section"
          class="custom-option"
        >
          {{ section }}
        </mat-list-option>
      </div>
    </mat-selection-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>
