<div class="row">
  <div class="col-lg-3">
    <app-parked-vehicles></app-parked-vehicles>
  </div>
  <div class="col-lg-3">
    <app-day-income></app-day-income>
  </div>
  <div class="col-lg-3">
    <app-retired-vehicles></app-retired-vehicles>
  </div>
  <div class="col-lg-3">
    <app-available-categories></app-available-categories>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-vehicle-revenue></app-vehicle-revenue>
  </div>
  <div class="col-lg-6">
    <app-latest-tickets></app-latest-tickets>
  </div>
</div>
