<h2 mat-dialog-title class="f-w-600">Agregar Nuevo Usuario</h2>

<div mat-dialog-content>
  <!-- Nombre completo -->
  <div class="m-t-5 m-b-0">
    <label class="f-w-500 heading-tag">Nombre completo *</label>
    <mat-form-field appearance="outline" class="w-100 m-t-5">
      <input
        matInput
        placeholder="Ingrese el nombre"
        name="name"
        required
        [(ngModel)]="name"
        #nameInput="ngModel"
      />
      <mat-error *ngIf="nameInput.invalid && nameInput.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Apellido Paterno -->
  <div>
    <label class="f-w-500 heading-tag">Apellido Paterno *</label>
    <mat-form-field appearance="outline" class="w-100 m-t-5">
      <input
        matInput
        placeholder="Ingrese el apellido paterno"
        name="paternalLastName"
        required
        [(ngModel)]="paternalLastName"
        #paternalLastNameInput="ngModel"
      />
      <mat-error
        *ngIf="paternalLastNameInput.invalid && paternalLastNameInput.touched"
      >
        El apellido paterno es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Apellido Materno -->
  <div>
    <label class="f-w-500 heading-tag">Apellido Materno *</label>
    <mat-form-field appearance="outline" class="w-100 m-t-5">
      <input
        matInput
        placeholder="Ingrese el apellido materno"
        name="maternalLastName"
        required
        [(ngModel)]="maternalLastName"
        #maternalLastNameInput="ngModel"
      />
      <mat-error
        *ngIf="maternalLastNameInput.invalid && maternalLastNameInput.touched"
      >
        El apellido materno es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Correo electrónico -->
  <div>
    <label class="f-w-500 heading-tag">Correo electrónico *</label>
    <mat-form-field appearance="outline" class="w-100 m-t-5">
      <input
        matInput
        type="email"
        name="email"
        required
        [(ngModel)]="email"
        #emailInput="ngModel"
        placeholder="correo@ejemplo.com"
      />
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">
        El correo electrónico es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Rol -->
  <div>
    <mat-label class="f-w-500 heading-tag">Rol *</mat-label>
    <mat-form-field appearance="outline" class="w-100 m-t-2">
      <mat-select
        name="role"
        required
        [(ngModel)]="role"
        #roleInput="ngModel"
        placeholder="Seleccione un rol"
      >
        <mat-option *ngFor="let r of roles" [value]="r">{{ r }}</mat-option>
      </mat-select>
      <mat-error *ngIf="roleInput.invalid && roleInput.touched">
        El rol es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Turno -->
  <div>
    <mat-label class="f-w-500 heading-tag">Turno asignado *</mat-label>
    <mat-form-field appearance="outline" class="w-100 m-t-2">
      <mat-select
        name="shift"
        required
        [(ngModel)]="shift"
        #shiftInput="ngModel"
        placeholder="Seleccione un turno"
      >
        <mat-option *ngFor="let t of shifts" [value]="t">{{ t }}</mat-option>
      </mat-select>
      <mat-error *ngIf="shiftInput.invalid && shiftInput.touched">
        El turno es obligatorio.
      </mat-error>
    </mat-form-field>
  </div>
</div>

<mat-dialog-actions align="end" class="m-b-20 gap-2">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="
      addUser(
        nameInput,
        paternalLastNameInput,
        maternalLastNameInput,
        emailInput,
        roleInput,
        shiftInput
      )
    "
  >
    Agregar Usuario
  </button>
</mat-dialog-actions>
