@use "../variables" as *;

.icon-blue-sm {
  color: #a82c3a !important;
  transition: transform 0.15s ease-in-out;
}

.icon-blue-sm:hover {
  transform: scale(0.96);
}

.icon-blue-lg {
  color: #a82c3a !important;
  transition: transform 0.15s ease-in-out;
}

.icon-blue-lg:hover {
  transform: scale(1.06);
}

.custom-no-space {
  /* Elimina padding y margin inferior */
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;

  /* Ajusta el contenedor interno */
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  ::ng-deep .mat-form-field-flex {
    height: auto !important;
    min-height: 0 !important;
  }

  ::ng-deep .mat-form-field-outline {
    bottom: 0 !important;
  }

  /* Asegura que no haya espacio para hint o errores */
  ::ng-deep .mat-form-field-subscript-wrapper {
    display: none !important;
  }
}
