@use "../variables" as *;

.placeholder-light {
  &::placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
  }
}

.vehicle-badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9999px;
  border: 1px solid #ccc;
  color: #333;
}

.transparent-text {
  color: rgba(0, 0, 0, 0.4);
}

.muted-text {
  color: rgba(0, 0, 0, 0.62);
}

.entries-button-primary {
  background-color: #0f172a !important; // azul oscuro por ejemplo
  color: white !important;
  font-weight: 400 !important;
}

.entries-button-secondary {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1.5px solid #000000 !important;
  height: 26px !important;
  line-height: 1 !important;
  padding: 2px 4px !important;
  min-width: unset !important;
  width: auto !important;
  display: inline-block !important;
}
