@use "../variables" as *;

::ng-deep .form-content {
  margin: 0;
  padding: 0;
}

::ng-deep .mat-mdc-dialog-container {
  padding: 0 !important; // quita el padding del contenedor
}

::ng-deep .mat-mdc-dialog-actions {
  margin: 0 !important; // quita margen de botones
  padding: 0 24px 12px !important; // opcional: solo padding lateral y un poquito abajo
  justify-content: flex-start !important; // para alinear los botones a la izquierda
}

::ng-deep .mat-mdc-dialog-surface {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.form-group-check-box {
  margin-bottom: 20px;
  align-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-form-field .mat-form-field-label {
  white-space: normal;
  overflow: visible;
  max-width: 100%;
}

mat-checkbox {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.feature-checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  margin-top: 0px;

  mat-checkbox {
    margin-bottom: -4px;

    .mat-checkbox-layout {
      display: flex;
      align-items: center !important;
      justify-content: center !important;
    }

    &:hover .mat-checkbox-inner-container {
      box-shadow: none !important; // quita sombra al hacer hover
    }

    .mat-checkbox-inner-container {
      box-shadow: none !important; // quita sombra incluso seleccionando
    }
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

button {
  border: 1px solid #ccc; /* Consistent border for buttons */
  border-radius: 4px;
}

button[mat-flat-button] {
  background: #1976d2; /* Blue color for Add button */
  color: #fff;
}

.heading-tag {
  color: #000000 !important; /* Black color for headings */
}

.selection-wrapper {
  padding: 0;
}

.two-column-checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

::ng-deep mat-list-option.custom-option {
  margin: 0 !important;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #faf9fd inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #faf9fd inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

.info-banner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #e3e7f9;
  border: 1px solid #5a6fc2;
  border-radius: 0.5rem;
  padding: 12px 16px;
  color: #1c3a8a;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 12px;

  .close-btn {
    position: absolute;
    top: 6px;
    right: -38px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 555;
    color: #1c3a8a;
    cursor: pointer;
    padding: 0;
    line-height: 1;

    &:hover {
      color: #0e256d;
      transform: scale(0.96);
    }
  }
}
.users-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 16px;
}
