<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  "
>
  <img
    src="./assets/images/backgrounds/error-403.png"
    alt="Acceso restringido"
    style="max-width: 500px; height: auto"
  />
  <p
    style="margin-top: 15px; font-size: 16px; color: #9f9f9f; max-width: 500px"
  >
    No tienes permisos para acceder a esta página.
  </p>
  <p
    style="margin-top: -15px; font-size: 16px; color: #9f9f9f; max-width: 500px"
  >
    Si crees que es un error, contacta con el administrador.
  </p>
</div>
