<mat-toolbar class="topbar gap-10">
  <!-- Mobile Menu -->

  <button
    mat-icon-button
    (click)="toggleMobileNav.emit()"
    class="d-flex d-lg-none justify-content-center"
  >
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notifications">
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="1"
      matBadgeColor="primary"
    ></i-tabler>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <p
    style="
      font-family: &quot;Poppins&quot;, sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #45576e;
      margin-right: 32px;
    "
  >
    Bienvenido, Brayan P
  </p>
</mat-toolbar>
